* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}
body {
  background-image: linear-gradient(
    to right,
    rgba(145, 161, 185, 0.079),
    rgb(77, 130, 176)
  );
}
body h1 {
  font-weight: 900;
}

.form-control {
  border: 0;
  outline: 0;
  border-bottom: 3px solid red;
  background: transparent;
}
.norepeat {
  width: 75%;
  display: block;
}
.card {
  box-shadow: 5px 10px #888888;
  width: fit-content;
  height: 35rem;
  transition: all 1s;
}
.card:hover {
  /* transform: scale(1.05); */
  /* cursor: pointer; */
}

.card-body {
  background-color: rgba(234, 223, 223, 0.1);
}
.card-body span {
  font-size: 1.5rem;
}
/* i {
  height: 2rem;
  position: absolute;
  bottom: 0.6rem;
  left: 17rem;
} */
